{% extends "webapp/base.html" %}
{% load static %}

{% block title %}
    <title>BibliMoteka - Categorías</title>
{% endblock %}


{% block navbar %}
<a class="nav-link" href="{% url 'webapp:homepage' %}">Inicio</a>
<a class="nav-link active text-warning" aria-current="page" href="{% url 'webapp:categories' %}">Categorías</a>
<a class="nav-link" href="{% url 'webapp:authors' %}">Autores</a>
<a class="nav-link" href="{% url 'webapp:books' %}">Libros</a>
{% endblock %}


{% block content %}

<!-- Searchbox -->
<div class="row justify-content-md-center p-3">
  <div class="col-6">
    <div class="card text-center border-warning border-2">
      <div class="card-body text-bg-dark text-light">
          <input class="form-control" id="searchCategory" aria-label="Search" placeholder="Búsqueda" data-url="{% url 'webapp:categories' %}"
          {% if search_category %}
          value="{{ search_category }}"
          {% endif %}
          ></input>
      </div>
    </div>
  </div>
</div>

<!-- Categories -->
<div class="row row-cols-4 g-3 justify-content-md-center text-center" >
  {% for category in categories %}
  <div class="col">
    <div class="card text-bg-dark border-warning border-2 h-100">
      <div class="card-body">
        <span class="card-title">{{category.name}}</span>
      </div>
      <a class="btn btn-warning rounded-0" href="{% url 'webapp:category_books' %}?category_name={{category.name}}">Ver libros
      </a>
    </div>
  </div>
  {% endfor %}
</div>


<!-- Pagination-->

<nav aria-label="Pagination">
    <ul class="pagination justify-content-center p-3">

      {% if categories.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ categories.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="#!">&laquo;</a></li>
      {% endif %}

      {% for num in categories.paginator.page_range %}
        {% if num == categories.number %}
          <li class="page-item disabled"><a class="page-link"href="#">{{ num }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}

      {% if categories.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ categories.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="#!">&raquo;</a></li>
      {% endif %}
    </ul>
</nav>
{% endblock %}


{% block links %}

<!-- Scripts for this page-->
<script language="JavaScript" type="text/javascript" src="{% static 'webapp/search_category.js' %}"></script>

{% endblock %}